# Node modules
node_modules/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# Netlify
.netlify/

# Python cache
__pycache__/
*.pyc

#addition
